<!DOCTYPE>
<html ng-app="busRoutApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Расписание маршруток</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,maximum-scale=1,initial-scale=1,user-scalable=0">
        <link rel="stylesheet" href="dest/css/app.css">
        <script src="dest/js/app.js"></script>
    </head>
    <body>
        <div id="loading-page" class="loading-page">
            <span>Ждем маршутос.....</span>
        </div>
        <header id="header" class="clr">
            <!--<span class="left">назад</span>-->
            <!--<span class="right">все маршруты</span>-->
        </header>
        <section>
            <div id="result-page">
                <div class="my-location i-none">
                    Вознисенский периулок
                </div>
                <p class="promo-text">
                    Ниже приведен весь список маршруток города Одесса. <br/>
                    Ниже строка поиска. Впишите туда номер маршрутки.
                </p>
                <div data-type="text" class="search-box search-item">
                    <input placeholder="Поиск номеру маршрутки" class="js-search-input" type="text"/>
                    <div class="js-cancel-search cancel-search i-none">закрыть</div>
                </div>
                <ul id="list-bus" class="loading">

                    <!-- отображение блока маршрутки в развернтом виде-->

                    <!-- отображение блока маршрутки -->

                </ul>
            </div>
        </section>
        <script type="text/jstemplate" id="template-busItemWidget">
            <li data-flex-grow="3"  data-bus-number="<%= routeNumber%>" class="js-bus-item bus-item">
                <var class="number-bus">
                    <%= routeNumber%>
                </var>
                <div class="info-box">
                    <div class="short-info" data-flex-grow="2">
                        <!--<span class="from">Дерибасовская стрит</span>-->
                        <!--<span class="to">Заболотного бичь</span>-->
                        <span class="name"><%= routeName %></span>
                    </div>
                </div>
                <div class="medium-info">
                    <ul>
                        <li>
                                    <span class="info-title">
                                        Время работы:
                                    </span>
                            <br/>
                            <var class="info-list-item">
                                <%= startRouteTime%> - <%= endRouteTime%>
                            </var>
                        </li>
                        <li>
                                    <span class="info-title">
                                       Количество машин:
                                    </span>
                            <br/>
                            <var class="info-list-item">
                                <%= directTrips.workdays%> ( вых. <%= directTrips.weekdays%>)
                            </var>
                        </li>
                        <li>
                                    <span class="info-title">
                                       Количество рейсов:
                                    </span>
                            <br/>
                            <var class="info-list-item">
                                <%= reverseTrips.workdays%> (вых.<%= reverseTrips.weekdays%>)
                            </var>
                        </li>
                        <li>
                                    <span class="info-title">
                                       Длина рейса:
                                    </span>
                            <br/>
                            <var class="info-list-item">
                                <%= routeLengthInKM%>км
                            </var>
                        </li>
                        <li>
                                    <span class="info-title">
                                       Время на один рейс:
                                    </span>
                            <br/>
                            <var class="info-list-item">
                                <%= routeDurationInMinutes%> мин
                            </var>
                        </li>
                    </ul>
                </div>
            </li>
        </script>
    </body>
</html>
